a{
    text-decoration: none;
    font-style: normal;
    color: inherit;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --iris: #4D5AE5;
    --oceana: #404BBF;
    --navyblue: #2E2F42;
    --green: #31D0AA;
    --slate: #434455;
    --lightslate: #8E8F99;
    --cornflower:  #E7E9FC;
    --cloud: #F4F4FD;
    --navybluemodal: #2E2F42;
    --grey: #2E2F42;
    --white: #FFFFFF;
    --dairy: #FCFCFC;
}

/* header section*/
.header-studio{
    text-decoration: none;
    text-transform: uppercase;
    font-family: Raleway;
}
.header-studio-web{
    color: var(--iris);
}
.header-nav-list-item{
    list-style: none;
    color: var(--navyblue);
    font-family: Roboto;
    font-weight: 500;
}
.header-nav :hover{
    color: var(--iris);
}
.header-nav a{
    text-decoration: none;    
}

.header-address-list-item{
    list-style: none;
}
.header-address-link{
    text-decoration: none;
    color: var(--slate);
    font-family: Roboto;
    font-weight: 400;
    font-style: normal;
}

/* main section*/
.main{
    background: var(--navyblue);
}
.main-hero{
    color: var(--white);
    text-align: center;
    font-family: Roboto;
    font-weight: 700;
}
.main-hero-button{
    border-radius: 4px;
    background: var(--iris);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--white);
    font-family: Roboto;
    font-weight: 500;
}
.main-hero-features-list h3{
    color: var(--navyblue);
    font-family: Roboto;
    font-weight: 500;
}
.main-hero-features-list p{
    color: var(--slate);
    font-family: Roboto;
    font-weight: 400;
}
.main-hero-apps h2{
    color: var(--navyblue);
    text-align: center;
    font-family: Roboto;
    font-weight: 700;
}
.main-team h2{
    color: var(--navyblue);
    text-align: center;
    font-family: Roboto;
    font-weight: 700;
}
.main-team h3{
    color: var(--navyblue);
    text-align: center;
    font-family: Roboto;
    font-weight: 500;
}
.main-team p{
    color: var(--slate);
    text-align: center;
    font-family: Roboto;
    font-weight: 400;
}

/* footer section */
.footer{
    background: var(--navyblue);
}
.footer-studio-web, .footer-studio-link{
    text-decoration: none;
    text-transform: uppercase;
    font-family: Raleway;
}
.footer-studio-web{
    color: var(--iris);
}
.footer-studio-link{
    color: var(--cloud);
}
.footer p{
    color: var(--cloud);
    font-family: Roboto;
    font-weight: 400;
}

/* Portfolio Header, Main and Footer */

/* Header Section*/
.header-portfolio-list {
    text-decoration: none;
    text-transform: uppercase;
    font-family: Raleway;
}
.header-portfolio-list-web {
    color: var(--iris);
}
.header-nav-portfolio-list-item:hover {
    color: var(--iris);
}
.header-nav-portfolio-list{
    list-style: none;
    color: var(--navyblue);
    font-family: Roboto;
    font-weight: 500;
}
.info-address li, .info-address a{
    list-style: none;
    color: var(--slate);
    font-family: Roboto;
    font-weight: 400;
}

/* main section*/
.main-section button{
    color: var(--iris);
    text-align: center;
    font-family: Roboto;
    font-weight: 500;
    border-radius: 4px;
    border: 1px solid var(--cornflower);
}
.main-apps h2, .main-services h2, .main-concept h2{
    color: var(--navyblue);
    font-family: Roboto;
    font-weight: 500;
}
.main-apps h3, .main-services h3, .main-concept h3{
    color: var(--slate);
    font-family: Roboto;
    font-weight: 400;
}

/* footer section */
.footer-section {
    background: var(--navyblue);
}

.studio-footer {
    text-decoration: none;
    text-transform: uppercase;
    font-family: Raleway;
}

.footer-section p {
    color: var(--cloud);
    font-family: Roboto;
    font-weight: 400;
}
.footer-studio-list-web {
    color: var(--iris);
}

.footer-studio-list-link {
    color: var(--cloud);
}