/* header section*/
.header-studio{
    text-decoration: none;
    text-transform: uppercase;
    font-family: Raleway;
}
.header-nav li{
    list-style: none;
}
.header-nav a{
    text-decoration: none;
}
.header-studio-link{
     font-family: Roboto;
     color: var(--iris, #4d5ae5);
     font-weight: 500;
}
.header-portfolio, .header-contacts{
    color: var(--navyblue, #2e2f42);
    font-family: Roboto;
    font-weight: 500;
}
.info{
    list-style: none;
}
.info a{
    text-decoration: none;
    color: var(--slate, #434455);
    font-family: Roboto;
    font-weight: 400;
}

/* main section*/
.main{
    background: var(--navyblue, #2e2f42);
}
.main-hero{
    color: var(--white, #FFF);
    text-align: center;
    font-family: Roboto;
    font-weight: 700;
}
.main-button{
    border-radius: 4px;
    background: var(--iris, #4d5ae5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--white, #FFF);
    font-family: Roboto;
    font-weight: 500;
}
.features-list {
    list-style: none;
}
.features-list h3{
    color: var(--navyblue, #2e2f42);
    font-family: Roboto;
    font-weight: 500;
}
.features-list p{
    color: var(--slate, #434455);
    font-family: Roboto;
    font-weight: 400;
}
.cpdesk li {
    list-style: none;
}
.cpdesk h2{
    color: var(--navyblue, #2e2f42);
    text-align: center;
    font-family: Roboto;
    font-weight: 700;
}
.team li{
    list-style: none;
}
.team h2{
    color: var(--navyblue, #2e2f42);
    text-align: center;
    font-family: Roboto;
    font-weight: 700;
}
.team h3{
    color: var(--navyblue, #2e2f42);
    text-align: center;
    font-family: Roboto;
    font-weight: 500;
}
.team p{
    color: var(--slate, #434455);
    text-align: center;
    font-family: Roboto;
    font-weight: 400;
}

/* footer section */
.footer{
    background: var(--navyblue, #2e2f42);
}
.footer a{
    text-decoration: none;
}
.footer-studio{
    text-decoration: none;
    text-transform: uppercase;
    font-family: Raleway;
}
.footer p{
    color: var(--cloud, #f4f4fd);
    font-family: Roboto;
    font-weight: 400;
}

/* Portfolio Header, Main and Footer */

/* Header Section*/
.header-web{
    text-decoration: none;
    text-transform: uppercase;
    font-family: Raleway;
}
.header-portfolio a{
    text-decoration: none;
}
.nav-portfolio li{
    list-style: none;
    color: var(--navyblue, #2e2f42);
    font-family: Roboto;
    font-weight: 500;
}
.info-address{
    text-decoration: none;
}
.info-address li, .info-address a{
    list-style: none;
    color: var(--slate, #434455);
    font-family: Roboto;
    font-weight: 400;
}

/* main section*/
.main-section button{
    color: var(--iris, #4d5ee5);
    text-align: center;
    font-family: Roboto;
    font-weight: 500;
    border-radius: 4px;
    border: 1px solid var(--cornflower, #e7e9fc);
}
.applications ul, .services ul, .concept ul{
    list-style: none;
}
.applications h2, .services h2, .concept h2{
    color: var(--navyblue, #2e2f42);
    font-family: Roboto;
    font-weight: 500;
}
.applications, .services, .concept{
    color: var(--slate, #434455);
    font-family: Roboto;
    font-weight: 400;
}

/* footer section */
.footer-section {
    background: var(--navyblue, #2e2f42);
}

.studio-footer {
    text-decoration: none;
    text-transform: uppercase;
    font-family: Raleway;
}

.footer-section p {
    color: var(--cloud, #f4f4fd);
    font-family: Roboto;
    font-weight: 400;
}